<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devalentine API | Documentation</title>
    <meta name="description" content="This website provides endpoints to Valentine Omonya's portfolio website API. Devalentine provides resources such as images, projects, stacks, languages, certificates, and testimonials.">
    <link rel="shortcut icon" href="/icons/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h4>Valentine Omonya</h4>
        <h2>Devalentine API Documentation</h2>
    </header>
    <main>
        <div class="content-container">

            <section class="overview">
                <h2>API Overview</h2>
                <p>The API for my portfolio website is designed to provide a structured and efficient way to manage and serve various resources essential for your portfolio. It includes endpoints for handling images, projects, stacks, languages, certificates, and testimonials. Each resource has its dedicated endpoint, ensuring modularity and ease of maintenance.</p>
                <p>
                    The <pre>`/api/images`</pre> endpoint serves static image files, allowing for seamless integration of visual content into your portfolio. The <pre>`/api/projects`</pre> endpoint, managed by the `projectRouter`, handles the creation, reading, updating, and deletion of project entries, showcasing your work effectively. Additionally, the API includes endpoints for managing stacks <pre>(`/api/stacks`)</pre>, languages <pre>(`/api/languages`)</pre>, certificates <pre>(`/api/certificates`)</pre>, and testimonials <pre>(`/api/testimonials`)</pre>, each facilitating the management of respective data sets and enhancing the content and credibility of your portfolio.
                </p>
            </section>

            <section class="endpoints">
                <h2>API Endpoints</h2>
                <p>NOTE: Only <strong>`GET`</strong> endpoints are available to the public. The other endpoints require the user to be authenticated.</p>

                <% const routes = ["projects", "stacks", "languages", "certificates", "testimonials", "images"]; %>
                <% routes.forEach((route, i) => { %>
                    <% if (route === "images") { %>
                        <h6><%= i + 1 %>. Images</h6>
                        <p>API endpoint to get all images</p>
                        <pre><code>GET https://devalentineapi.onrender.app/api/images/{imageName}</code></pre>
                    <% } else { %>
                        <h6><%= i + 1 %>. <%= route %></h6>
                        <p>API endpoint for <%= route %> CRUD operations.</p>
                        <pre><code>GET https://devalentineapi.onrender.app/api/<%= route %>/list</code></pre>
                        <h6>Sample Result for <%= route %> Limit` set to 3</h6>
                        <pre><code id="<%= route %>-data"></code></pre>
                        <pre><code>POST https://devalentineapi.onrender.app/api/<%= route %>/add</code></pre>
                        <pre><code>PUT https://devalentineapi.onrender.app/api/<%= route %>/update/{<%= route.substring(0, route.length - 1) %>Id}</code></pre>
                        <pre><code>DELETE https://devalentineapi.onrender.app/api/<%= route %>/delete/{<%= route.substring(0, route.length - 1) %>Id}</code></pre>
                        <script>
                            (async () => {
                                const response = await fetch("/api/<%= route %>/list?limit=3", { method: "GET" });
                                const data = await response.json();
                         
                                document.getElementById("<%= route %>-data").textContent = JSON.stringify(data, null, 2);
                            })();
                        </script>
                    <% } %>
                <% }); %>
            </section>
        </div>
    </main>
    <footer>
        <a href="http://devalentineomonya.vercel.app/" target="_blank">&copy; DevalentineAPI</a>
        <span id="year"><%= new Date().getFullYear() %></span> | <span>All rights reserved.</span>
    </footer>
</body>

</html>
